@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo2-Regular.woff2") format("woff2"), url("../fonts/Baloo2-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Ballo";
  src: url("../fonts/Baloo2-Medium.woff2") format("woff2"), url("../fonts/Baloo2-Medium.woff") format("woff");
  font-weight: 500;
}