@media (max-width: 517px) {
  .side-bar {
    background: #f2f8fd;
    z-index: 5;
    transform: translateX(-109%);
    transition: transform 0.6s;
    box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px 15px 15px 0px;
  }
  .side-bar ul li:first-child {
    padding-top: 30px;
  }
  nav .navbar-toggler {
    display: grid;
  }
  nav .navbar-toggler .bar {
    display: grid;
  }
}
